
/* Begin Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    background-color: aliceblue;
    /* background-image:url('../CSS-Images/images/bubble.jpg'), linear-gradient( to left, steelblue, #fff);
    background-repeat: repeat-y, no-repeat;
    background-position: right center; */

    background: repeat-y right center url('../CSS-Images/images/bubble.jpg'), no-repeat linear-gradient(to left, steelblue, #fff);
}


/* it helps to image as text background color */
.clip{
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url('../CSS-Images/images/img4.webp');
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;      
    color: hsla(0, 0%, 0%, 0.033);

}



