* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0rem;
    font-family: sans-serif;
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 5rem auto;
    max-width: 600px;
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    padding: 2rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li a{
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: #333;
}

li a:hover, li a:focus{
    background: #333;
    color: whitesmoke;
    cursor: pointer;
}

li:last-child a{           /*  to remove last link extraportion background color */
    border-radius: 0 0 2rem 2rem;
}